<html>
	<div class="table-responsive">
		<table class="table table-bordered table-sm">
		  <tr>
			<th>Netzadresse</th>
			<th>mögliche Adressen</th>
			<th>Broadcast - Adresse</th>
			<th>Subnetzmaske</th>
		  </tr>
		  <tr>
			<td>10.0.0.0</td>
			<td>0.0.1-0.127.254</td>
			<td>0.127.255</td>
			<td>255.255.128.0 /17</td>
		  </tr>
		  <tr>
			<td>10.0.128.0</td>
			<td>0.128.1 - 0.255.254</td>
			<td>0.255.255</td>
			<td>"</td>
		  </tr>
		  <tr>
			<td>10.224.0.0</td>
			<td>224.0.1 - 224.127.254</td>
			<td>224.127.255</td>
			<td>"</td>
		  </tr>
		  <tr>
			<td>10.224.128.0</td>
			<td>224.128.1 - 224.255.254</td>
			<td>224.255.255</td>
			<td>"</td>
		  </tr>
		</table>
	</div>
</html>